{% extends "layouts/layout.html" %}

{% block header %}

<div class="container text-center py-5 mb-4">
    <img src="{{ url_for('static', filename='img/dr.png') }}" class="w-100" style="max-width:200px;" />
    <div class="mt-3 mb-3">
      <h1 class="h1 text-white mb-1" century;>DRONEFLAKE SOLUTION</h1>
      <h2 class="h2 text-gray font-weight-light">Mide tu seguridad.</h2>
    </div>
    <form action="https://google.com">
      <button style="background-color:rgb(255, 255, 255); border-color:rgb(0, 0, 0); color:rgb(0, 0, 0); padding: 10px 32px; text-align: center;">
       LOGIN
      </button>
    </form>
</div>
{% endblock %}