/* Custom stylesheet */

.img1{
  background-image: url('http://i.stack.imgur.com/kx8MT.gif');
  background-size: cover;

  height: 100vh;
  padding:0;
  margin:0;
}


.nav-link:hover {
  color: inherit;
  text-decoration: none;
  opacity: .75;
}

.link-reset:hover {
  color: inherit;
  text-decoration: none;
}

.octicon {
  display: inline-block;
  vertical-align: text-top;
}

